:root {
    --primary-background: #800000;
    --secondary-background: rgba(94, 52, 52, 0.6);
    --snake-color: #fff;
    --snake-head-color: #ffd900;
    --food-color: #0052ea;
    --button-background: #cc2e2e;
    --button-hover-background: #a10000;
    --text-color: #fff;
    --text-shadow-color: #000000;
    --buton-shadow-color: #58040461;
    --box-shadow-color: #000000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: var(--primary-background);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: center;
}

canvas {
    background-color: #400000;
    border: 2px solid var(--snake-color);
    box-shadow: 0px 0px 20px var(--box-shadow-color);
    max-width: 100%;
}

#score-container {
    border: 2px solid rgba(255, 0, 0, 0.518);
    box-shadow: 0px 0px 10px var(--buton-shadow-color) ;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px ;
    background-color: var(--secondary-background);
    padding: 10px;
    max-width: 300px;
    margin: 0 auto;
}

#score,
#high-score {
    padding: 10px;
    font-size: 18px;
    color: var(--text-color);
}

#score span,
#high-score span {
    font-weight: bold;
    color: var(--snake-head-color);
}

#mobile-controls {
    display: none;
    /* display: flex; */
    justify-content: center;
    margin-top: 10px;
}

button {
    background-color: var(--button-background);
    color: var(--text-color);
    border: 2px solid rgba(255, 255, 255, 0.104);
    box-shadow: 0px 0px 5px var(--buton-shadow-color);
    /* border: none; */
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-background);
}

h1 {
    text-shadow: 0px 0px 10px var(--buton-shadow-color);
    font-size: 36px;
    margin-bottom: 10px;

}

p {
    padding: 1rem 1rem 1rem ;
    margin-top: 1rem;
    font-size: 14px;
    margin-top: 0;
    border-bottom: 2px solid var(--secondary-background);
}
a{
    color: rgb(255, 242, 0);
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    #mobile-controls {
        display: block;
        /* display: flex; */
    }
    
    h1 {
        font-size: 24px;
    }

    canvas {
        max-width: 80%;
    }
}

@media screen and (min-width: 601px) {
    button {
        padding: 10px 15px;
        font-size: 16px;
    }
}
